.button-add {
    background-color: rgb(82, 24, 24);
    color: rgb(80, 19, 19);
    padding: 10px;
    border-radius: 6px;
    font-size: small;
    text-decoration: none;
    transition: .3s;
}

.button-add:hover {
    background-color: black;
}